# IMPORTING LIBRARIES

In [29]:
import numpy as np 
import pandas as pd

# READING DATASET

In [39]:
df=pd.read_csv('Admission_Predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

# Splitting The Data Into Train And Test

In [40]:
from sklearn.model_selection import train_test_split
x=df[['GRE Score','TOEFL Score','University Rating','CGPA']]
y=df['Chance of Admit ']

In [41]:
y=(y>0.5).astype(int)

In [42]:
y

0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: Chance of Admit , Length: 400, dtype: int32

In [43]:

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

# Training the model

In [57]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from decimal import Decimal
svm_clf = SVC(probability = True, kernel='linear')
svm_clf.fit(x_train,y_train)

SVC(kernel='linear', probability=True)

# Testing the model

In [59]:
y_pred = svm_clf.predict(x_test)

acc_svm = round(Decimal(accuracy_score(y_test, y_pred) * 100), 2)

print(f"Accuracy (SVM) : {acc_svm}%")

Accuracy (SVM) : 96.25%